body {
  /* background-color: lightskyblue; */
}

/*sidebar: #Db3E43
(219, 62, 67)
*/
.app-container {
  padding: 0px 10px 10px 10px; 
  margin: 0px 5px 5px 5px;

  background: rgb(219, 62, 67, 0.12);
}
.outterbox {
  display: grid; 
  grid-template-rows: 0.1fr 0.1fr 0.7fr 0.7fr 1fr; 
  grid-template-columns: 1fr 1fr;
  margin: 0px;  
}

.outterbox div {
  margin: 3px; 
}

.item1{
  grid-row: 1 / 2;
  grid-column: 1 / 5; 
}

.item2 {
  grid-row: 2 / 3; 
  grid-column: 1 / 5; 
}

.item3 {
  background: white; 
  grid-row: 3 / 4; 
  grid-column: 1 / 2; 
}
.item4 {
  background: white;
  grid-row: 3 / 4; 
  grid-column: 2 / 3; 
}
.item5 {
  background: white;
  grid-row: 4 / 5; 
  grid-column: 1 / 3; 
}
.item6 {
  background: white;
  grid-row: 5 / 6; 
  grid-column: 1 / 2; 
}
.item7 {
  background: white; 
  grid-row: 5 / 6; 
  grid-column: 2 / 3; 
}

#title {
  color: black;
  font-weight: bold;
  font-size: 2em; 
}
.subtitle {
  color: rgb(60, 60, 60);
  font-weight: bold; 
  padding: 0px 10px 10px 0px;
  font-size: 1.2em;   
}

.trade-container {
  /* border: 1px solid black; */
  /* margin: 10px; */
  padding: 10px;
}

.recharts-wrapper {
  margin: auto;
}

.news {
  /* overflow: scroll; */
  overflow: hidden; 
  /* height: 300px; */
  font-size: 0.9em; 
}

#root {
  margin-left: 64px; 
}

/*
========= ticker search ===========
*/
#ticker input[type=text] {
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-right: none;
  background: #f1f1f1;
  width: 79%;
  margin-right: 0px;
}

#ticker button {
  padding: 10px;
  background: #0275d8;
  color: white;
  border: 1px solid #0275d8;
  border-left: none;
  cursor: pointer;
  width: 20%;
  margin-left: 0px;
}


/*
========== quote ============================
*/
#quote {
   font-family: "Georgia", Times, serif;
   font-size: 1.5em;  
}
#author {
  font-family: "Georgia", Times, serif;
  font-size: 0.7em;
  color: grey; 
}

/*
========== trading log page ===================
*/
.trade-header {
  color: rgb(61, 61, 61);
  text-align: left; 
}

label, input, select {
  width: 15%;
}

section {
  padding: 3px; 
}

button {
  margin: 3px; 
}

form {
  background: white;
  padding: 10px;   
}

table {
  background: white; 
  border-collapse: collapse; 
  margin: auto; /* put the table in the middle */
}

tr {
  padding: 3px;
}

th {
  font-weight: bold;
  padding: 8px;
  background: #006060;
  color: white;
  padding: 20px;
  /* border: 0.2px solid #006060; */
}

td {
  padding: 10px;
}

tr:hover {
  background: rgba(0, 96, 96, 0.1);
}
