.App {
  text-align: center;
}

body {
  background-color: lightskyblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chat {
  color: #61dafb;
  height: 50px;
  width: 50px;
}

.outterbox {
  border: black solid 2px;
  margin: 10px;
  background-color: white;
  padding: 10px;
}

.Contacts {
  color: rgb(160, 92, 92);
  height: 50px;
  width: 50px;
}

.SplitPane {
  align-content: center;
}

h3, h1 {
  text-align: center;
}

.newsbox {
  background-color: beige;
  display: inline-block;
  width: 50%;
}
.pricebox {
  background-color: rgb(230, 230, 230);
  display: inline-block;
  width: 50%;
}

.recharts-wrapper {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 150px;
}

.news {
  overflow: scroll;
  height: 300px;
  margin: 0;
}

#leftplane {
  width: 550px;
}


#rightplane {
  width: 550px;
}
span {
  overflow: hidden;
}